ul.codeschool {

  li {
    margin:1rem;
    display: inline-block;


    @media (max-width: 768px) {
      margin:auto;
      width:100%;

      a {
        margin:auto;
        width:100%;
        text-align: center;

        img {
          margin:auto;
        }
      }
    }


    a {
      display: inline-block;
      position: relative;

      caption {
        position: absolute;
        opacity: 1;
        z-index: 3;
        transition: all 0.5s ease 0s;
      }

      img {
        position: relative;
        z-index: 0!important;
        width:20rem;
        height:20rem;
        transition:all 0.5s ease-out;

        &:hover {
          transform:rotate(360deg);
        }
      }

      &:hover {
        cursor:pointer;
      }
    }

  }
}


ul.certificates {
  margin:auto!important;
  display: block;
  width:35rem;

  li {
    margin:1rem;
    display: inline-block;


    @media (max-width: 768px) {
      margin:auto;
      width:100%;

      a {
        margin:auto;
        width:100%;
        text-align: center;

        img {
          margin:auto;
        }
      }
    }


    a {
      display: inline-block;
      position: relative;


      img {
        position: relative;
        z-index: 0!important;
        width:14rem;
        height:14rem;
        transition:all 0.2s ease-out;

        &:hover {
          transform:scale(1.1);
        }
      }

      &:hover {
        cursor:pointer;
      }
    }

  }

}


.modal {
  width:90%;
  height:90%;
  margin:auto;
}

a.portfolio-link {

  border:8px solid rgba(24, 255, 156, 0.9);
  border-radius: 5px;
}

.portfolio-item img {
  min-height:15em;
}

.course-links {
  margin-top:6rem;

  a {
    width:18rem;
  }

  a:first-child {
    margin-right:3rem;
  }


  @media (max-width: 768px) {

    a:first-child {
      margin-right:0;
    }
  }


}

header {
  overflow:hidden;
  height: 80rem;
  position: relative;
  background-color:rgba(24, 188, 156, 1);
  video {
    position: absolute;
    z-index:0;
    width:100%;
    z-index:0;
    left:0;

    @media (max-width: 768px) {

     height:100%;
      width:auto;
    }

  }
  div.overlay {
    position: absolute;
    left:0; right:0;
    top:0; bottom:0;
    background-color:rgba(24, 188, 156, .8);
  }
  div.container {
    position: relative;
    margin-top:11rem;
    padding-top: 8rem;
    z-index:1;
  }
}

.modal-body {

    @media (max-width: 768px) {

      h2 {
        font-size:150%!important;
      }
    }

}

.row {
  @media (max-width: 768px) {

    h2 {
      font-size:180%!important;
    }

    p {
      font-size: 120%!important;
    }

  }

}

p.sub {
  font-size:1em;
}