 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Over mij</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hi, ik werk graag aan innovatieve projecten/ prototypes. Zowel op locatie als in eigen beheer kan ik kleine of grote projecten uitvoeren. Indien gewenst kan ik ook opschalen door offshoring.</p>

                    <p>Ik ben geinteresseerd in professionele applicatie ontwikkeling, marketing, educatie en Arduino/Nodejs. In mijn vrije tijd geef ik soms hour of code sessions.</p>

                    <p>Qua marketing denk ik graag mee over de ontwikkeling van affiliate programma's en kan dat ook implementeren.</p>
                </div>
                <div class="col-lg-4">
                    <p>Indien u een app wil laten bouwen bent u aan het juiste adres. Huur mij in en ik ontwikkel de app met maximale kwaliteitsstandaarden.</p>

                    <p>Door deze hoge standaarden te hanteren bij het ontwikkelen is het makkelijker om nieuwe features toe te voegen of het werk over te dragen.</p>

                    <p>Door mezelf constant te trainen (bijv mbv pluralsight) ben ik op de hoogte van de industrie standaarden, waardoor uw project goedkoper en beter wordt gerealiseerd. </p>
                </div>

            </div>
        </div>
    </section>