 <!-- About Section -->
    <section class="success" id="training">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>CODESCHOOL BADGES</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <ul class="codeschool list-inline list-unstyled">
                    {% for badge in site.data.badges %}
                    <li>

                        <a href="{{ badge.assertion.badge.criteria }}" target="_blank">

                                <div class="caption">
                                    <div class="caption-content">
                                        <i class="fa fa-search-plus fa-3x"></i>
                                    </div>
                                </div>
                                <img src="{{ badge.assertion.badge.image }}" />

                        </a>

                    </li>
                    {% endfor %}
                </ul>
                <div class="col-lg-8 col-lg-offset-2 text-center course-links">
                    <a href="https://www.codeschool.com/users/1168926" title="Bekijk alle badges" target="_blank" class="btn btn-lg btn-outline">
                        <i class="fa fa-link"></i> Codeschool
                    </a>


                    <a href="http://app.pluralsight.com/profile/dirk-jan-de-groot"  title="Bekijk alle pluralsight cursussen" target="_blank" class="btn btn-lg btn-outline">
                        <i class="fa fa-link"></i> Pluralsight
                    </a>
                </div>
            </div>
        </div>
    </section>